---
- name: Instance Setup
  hosts: all
  become: yes
  vars:
    jar_source: "{{ project_root }}/target/EduSched-0.0.1-SNAPSHOT.jar"
    dest_path: "/opt/myapp/EduSched.jar"
  tasks:
    - name: Debug Path
      debug:
        msg: "Ansible is looking for JAR at: {{ jar_source }}"
    - name: Install Java 17
      dnf:
        name: java-17-amazon-corretto-headless
        state: present
    - name: Create app directory
      file:
        path: /opt/myapp
        state: directory
        owner: ec2-user
        group: ec2-user
        mode: '0755'
    - name: Copy JAR file
      copy:
        src: "{{ jar_source }}"
        dest: "{{ dest_path }}"
        owner: ec2-user
        group: ec2-user
        mode: '0755'  
    - name: Create systemd service file
      copy:
        dest: /etc/systemd/system/myapp.service
        content: |
          [Unit]
          Description=Schedemy Backend Service
          After=network.target

          [Service]
          User=ec2-user
          WorkingDirectory=/opt/myapp
          ExecStart=/usr/bin/java -jar /opt/myapp/EduSched.jar
          Restart=always

          [Install]
          WantedBy=multi-user.target
    - name: Reload Systemd
      systemd:
        daemon_reload: yes

    - name: Enable and Start Service
      systemd:
        name: myapp
        enabled: yes
        state: started
    - name: Force Disk Sync
      shell: sync